.section-header {
  height: 80px;
  background-color: hsl(var(--background));
  width: 100%;
  z-index: 20;
}

.header-hidden {
  top: -80px;
}

.placeholder-reveal {
  height: 160px;
  width: 100%;
}

.header-sticky {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  --tw-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 4px 6px -1px var(--tw-shadow-color), 0 2px 4px -2px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.section-header.animate {
  transition: top 0.2s ease-in-out;
}

@media (min-width: 640px) {
  .section-header {
    height: 100px;
  }
  .header-hidden {
    top: -100px;
  }
}
@media (min-width: 1024px) {
  .section-header {
    height: 120px;
  }
  .header-hidden {
    top: -120px;
  }
}
@media (min-width: 1280px) {
  .section-header {
    height: 160px;
  }
  .header-hidden {
    top: -160px;
  }}