.section-header {
  height: 80px;
  background-color: hsl(var(--background));
  width: 100%;
  z-index: 20;
}

.header-hidden {
  top: -80px;
}

.header-sticky {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
}

.section-header.animate {
  transition: top 0.2s ease-in-out;
}

@media (min-width: 640px) {
  .section-header {
    height: 100px;
  }
  .header-hidden {
    top: -100px;
  }
}
@media (min-width: 1024px) {
  .section-header {
    height: 120px;
  }
  .header-hidden {
    top: -120px;
  }
}
@media (min-width: 1280px) {
  .section-header {
    height: 160px;
  }
  .header-hidden {
    top: -160px;
  }
}